@{
    ViewBag.Title = "用户中心";
}
<div class="usright">
    <div class="maxtitle01">
        <div class="mtblack01 mtbi08">
            &nbsp;
        </div>
        <div class="mtext01">
            <h4>@ViewBag.Title</h4>
            <p>
                USER CENTER
            </p>
        </div>
    </div>
    <div class="usbox">
        <div class="usbleft">
            <div class="usbinfor">
                <div class="usbintitle">
                    <span>基本信息</span> <a href="#">编辑</a>
                </div>
                <div class="usbintext">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="45px">
                                账户：
                            </td>
                            <td>
                                Administrator
                            </td>
                        </tr>
                        <tr>
                            <td>
                                称谓：
                            </td>
                            <td>
                                先生
                            </td>
                        </tr>
                        <tr>
                            <td>
                                邮箱：
                            </td>
                            <td>
                                admin@admin.com
                            </td>
                        </tr>
                        <tr>
                            <td>
                                电话：
                            </td>
                            <td>
                                13512345678
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="usbright">
            <div class="usbinfor">
                <div class="usbintitle">
                    <span>收货人信息</span> <a href="#">编辑</a>
                </div>
                <div class="usbintext">
                    <table class="usaddress" cellpadding="0" cellspacing="0">
                        <tr>
                            <th colspan="2">
                                地址一：
                            </th>
                        </tr>
                        <tr>
                            <td width="70px">
                                真实姓名：
                            </td>
                            <td>
                                张先生
                            </td>
                        </tr>
                        <tr>
                            <td>
                                账户名称：
                            </td>
                            <td>
                                Administrator
                            </td>
                        </tr>
                        <tr>
                            <td>
                                手机号码：
                            </td>
                            <td>
                                13512345678
                            </td>
                        </tr>
                        <tr>
                            <td>
                                座机号码：
                            </td>
                            <td>
                                13512345678
                            </td>
                        </tr>
                        <tr>
                            <td>
                                邮箱地址：
                            </td>
                            <td>
                                admin@admin.com
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                收货地址：
                            </td>
                            <td>
                                中国四川省成都市锦江区天府广场新华书店二楼1010
                            </td>
                        </tr>
                    </table>
                    <table class="usaddress" cellpadding="0" cellspacing="0">
                        <tr>
                            <th colspan="2">
                                地址二：
                            </th>
                        </tr>
                        <tr>
                            <td width="70px">
                                真实姓名：
                            </td>
                            <td>
                                张先生
                            </td>
                        </tr>
                        <tr>
                            <td>
                                账户名称：
                            </td>
                            <td>
                                Administrator
                            </td>
                        </tr>
                        <tr>
                            <td>
                                手机号码：
                            </td>
                            <td>
                                13512345678
                            </td>
                        </tr>
                        <tr>
                            <td>
                                座机号码：
                            </td>
                            <td>
                                13512345678
                            </td>
                        </tr>
                        <tr>
                            <td>
                                邮箱地址：
                            </td>
                            <td>
                                admin@admin.com
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                收货地址：
                            </td>
                            <td>
                                中国四川省成都市锦江区天府广场新华书店二楼1010
                            </td>
                        </tr>
                    </table>
                    <table class="usaddress" cellpadding="0" cellspacing="0">
                        <tr>
                            <th colspan="2">
                                地址三：
                            </th>
                        </tr>
                        <tr>
                            <td width="70px">
                                真实姓名：
                            </td>
                            <td>
                                张先生
                            </td>
                        </tr>
                        <tr>
                            <td>
                                账户名称：
                            </td>
                            <td>
                                Administrator
                            </td>
                        </tr>
                        <tr>
                            <td>
                                手机号码：
                            </td>
                            <td>
                                13512345678
                            </td>
                        </tr>
                        <tr>
                            <td>
                                座机号码：
                            </td>
                            <td>
                                13512345678
                            </td>
                        </tr>
                        <tr>
                            <td>
                                邮箱地址：
                            </td>
                            <td>
                                admin@admin.com
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                收货地址：
                            </td>
                            <td>
                                中国四川省成都市锦江区天府广场新华书店二楼1010
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="usbox">
        <div class="usbintitle">
            <span>我的订单</span> <a href="#">编辑</a>
        </div>
        <div class="usbintext">
            <table class="usoders" cellpadding="0" cellspacing="0">
                <tr>
                    <th>
                        商品名称
                    </th>
                    <th>
                        数量
                    </th>
                    <th>
                        价格
                    </th>
                    <th>
                        日期
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                <tr>
                    <td>
                        <a href="#"><b>新娘捧花</b></a>
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        <u>￥1000.00</u>
                    </td>
                    <td>
                        2013.06.24
                    </td>
                    <td>
                        <a href="#">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#"><b>新娘捧花</b></a>
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        <u>￥1000.00</u>
                    </td>
                    <td>
                        2013.06.24
                    </td>
                    <td>
                        <a href="#">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#"><b>新娘捧花</b></a>
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        <u>￥1000.00</u>
                    </td>
                    <td>
                        2013.06.24
                    </td>
                    <td>
                        <a href="#">删除</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
