@{
    ViewBag.Title = "首页";
}
<div class="contents">
    <div class="maxtitle01">
        <div class="mtblack01 mtbi01">
            &nbsp;
        </div>
        <div class="mtext01">
            <h4>记忆中那些鲜为人知的故事！</h4>
            <p>
                告诉我们收花人的个性、喜好和感觉甚至您们之间小小的故事、告诉我们你要传达的情感、心意或赋予花独特的意义。
            </p>
        </div>
    </div>
    <div class="hotproduct">
        <div class="hpbox">
            <div class="hpimg">
                <img class="shadow" alt="" src="~/products/p-img01.png" />
                <div class="hpflorid">
                    <h4>花语标题</h4>
                    <p>
                        告诉我们收花人的个性、喜好和感觉甚至您们之间小小的故事、告诉我们你要传达的情感、心意或赋予花独特的意义。
                    </p>
                </div>
            </div>
            <div class="hpinfor">
                <span class="phdigital">2</span>
                <h4>
                    <a href="#">小港湾【母亲节永生花盒】</a>
                </h4>
            </div>
        </div>
        <div class="hpbox">
            <div class="hpimg">
                <img class="shadow" alt="" src="~/products/p-img01.png" />
                <div class="hpflorid">
                    <h4>花语标题</h4>
                    <p>
                        告诉我们收花人的个性、喜好和感觉甚至您们之间小小的故事、告诉我们你要传达的情感、心意或赋予花独特的意义。
                    </p>
                </div>
            </div>
            <div class="hpinfor">
                <span class="phdigital">2</span>
                <h4>
                    <a href="#">小港湾【母亲节永生花盒】</a>
                </h4>
            </div>
        </div>
        <div class="hpbox">
            <div class="hpimg">
                <img class="shadow" alt="" src="~/products/p-img01.png" />
                <div class="hpflorid">
                    <h4>花语标题</h4>
                    <p>
                        告诉我们收花人的个性、喜好和感觉甚至您们之间小小的故事、告诉我们你要传达的情感、心意或赋予花独特的意义。
                    </p>
                </div>
            </div>
            <div class="hpinfor">
                <span class="phdigital">3</span>
                <h4>
                    <a href="#">小港湾【母亲节永生花盒】</a>
                </h4>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="maxtitle01">
            <div class="mtblack02">
                &nbsp;
            </div>
            <div class="mtext01 mtext01-left">
                <h4>玫瑰长盒！</h4>
                <p>
                    家庭插花/小型婚庆/小型宴会Party/办公室花艺/拍片花艺。
                </p>
            </div>
            <div class="mtext01 mtext01-right">
                <h4>定制花束！</h4>
                <p>
                    家庭插花/小型婚庆/小型宴会Party/办公室花艺/拍片花艺。
                </p>
            </div>
        </div>
        <div class="progroup">
            <div class="probox">
                <div class="inpros inpros01">
                    <a class="inprosimg" href="#">
                        <img class="shadow" alt="" src="~/products/p-img02.png" />
                    </a>
                    <div class="inprostext inptheight01">
                        <h4>花语标题</h4>
                        <p>
                            告诉我们收花人的个性、喜好和感觉甚至您们之间小小的故事、告诉我们你要传达的情感、心意或赋予花独特的意义。
                        </p>
                    </div>
                </div>
                <div class="inpros inpros02">
                    <a class="inprosimg" href="#">
                        <img class="shadow" alt="" src="~/products/p-img03.png" />
                    </a>
                    <div class="inprostext inptheight02">
                        <h4>花语标题</h4>
                        <p>
                            告诉我们收花人的个性、喜好和感觉甚至您们之间小小的故事、告诉我们你要传达的情感、心意或赋予花独特的意义。
                        </p>
                    </div>
                </div>
                <div class="inpros inpros02">
                    <a class="inprosimg" href="#">
                        <img class="shadow" alt="" src="~/products/p-img04.png" />
                    </a>
                    <div class="inprostext inptheight02">
                        <h4>花语标题</h4>
                        <p>
                            告诉我们收花人的个性、喜好和感觉甚至您们之间小小的故事、告诉我们你要传达的情感、心意或赋予花独特的意义。
                        </p>
                    </div>
                </div>
            </div>
            <div class="probox">
                <div class="inpros inpros02">
                    <a class="inprosimg" href="#">
                        <img class="shadow" alt="" src="~/products/p-img04.png" />
                    </a>
                    <div class="inprostext inptheight02">
                        <h4>花语标题</h4>
                        <p>
                            告诉我们收花人的个性、喜好和感觉甚至您们之间小小的故事、告诉我们你要传达的情感、心意或赋予花独特的意义。
                        </p>
                    </div>
                </div>
                <div class="inpros inpros01">
                    <a class="inprosimg" href="#">
                        <img class="shadow" alt="" src="~/products/p-img03.png" />
                    </a>
                    <div class="inprostext inptheight01">
                        <h4>花语标题</h4>
                        <p>
                            告诉我们收花人的个性、喜好和感觉甚至您们之间小小的故事、告诉我们你要传达的情感、心意或赋予花独特的意义。
                        </p>
                    </div>
                </div>
                <div class="inpros inpros02">
                    <a class="inprosimg" href="#">
                        <img class="shadow" alt="" src="~/products/p-img02.png" />
                    </a>
                    <div class="inprostext inptheight02">
                        <h4>花语标题</h4>
                        <p>
                            告诉我们收花人的个性、喜好和感觉甚至您们之间小小的故事、告诉我们你要传达的情感、心意或赋予花独特的意义。
                        </p>
                    </div>
                </div>
            </div>
            <div class="probox">
                <div class="inpros inpros01">
                    <a class="inprosimg" href="#">
                        <img class="shadow" alt="" src="~/products/p-img05.png" />
                    </a>
                    <div class="inprostext inptheight01">
                        <h4>花语标题</h4>
                        <p>
                            告诉我们收花人的个性、喜好和感觉甚至您们之间小小的故事、告诉我们你要传达的情感、心意或赋予花独特的意义。
                        </p>
                    </div>
                </div>
                <div class="inpros inpros01">
                    <a class="inprosimg" href="#">
                        <img class="shadow" alt="" src="~/products/p-img04.png" />
                    </a>
                    <div class="inprostext inptheight01">
                        <h4>花语标题</h4>
                        <p>
                            告诉我们收花人的个性、喜好和感觉甚至您们之间小小的故事、告诉我们你要传达的情感、心意或赋予花独特的意义。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
